In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('expectations_responses.csv')
df.head()

,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10,...,B51,B52,B53,B54,B55,B56,B57,B58,B59,B60
0,4,4,4,4,2,2,4,4,4,3,...,3,3,4,4,2,3,4,4,2,4
1,4,5,4,4,4,4,3,4,4,4,...,4,4,4,4,4,4,4,4,4,4
2,4,4,4,4,4,4,2,4,4,3,...,4,4,4,4,4,4,4,4,3,3
3,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
4,4,3,3,4,1,1,4,1,4,4,...,4,5,4,5,3,5,4,3,3,5

In [11]:
dic = {}
for i in range(1,4):
    dic[i] = []
for index,row in df.iterrows():
    max_index = -1
    max_val = 0
    for i in range(1,4):
        if row[str(i)]>max_val:
            max_val = row[str(i)]
            max_index = i
    dic[max_index].append(index+1)
        
print(dic)

{1: [1, 2, 4, 6, 9, 10, 12, 14], 2: [3, 7, 8, 11, 15], 3: [5, 13, 16]}

In [3]:
x = df.values
from sklearn.decomposition import PCA
pca = PCA(n_components=16)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents, columns = ['pc1', 'pc2','pc3','pc4','pc5','pc6','pc7','pc8','pc9','pc10','pc11','pc12','pc13','pc14','pc15','pc16'])
principalDf.head()

,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10,pc11,pc12,pc13,pc14,pc15,pc16
0,-5.408030,1.085116,-1.529356,-0.557959,0.164504,0.290027,-0.019324,1.774936,2.575433,-0.422368,2.186629,1.023200,-0.394901,-1.101626,-0.943588,-0.198007
1,-0.125478,-0.758496,-0.683716,-0.808511,0.172564,-0.171389,0.195316,-0.184296,-0.442779,-0.046648,0.152918,-0.594177,0.032905,0.715743,-0.915669,-0.229088
2,-1.125275,-0.376052,-1.047635,-1.050702,0.121415,0.356835,0.215625,-0.158358,0.225160,0.541369,-0.183240,-0.474513,0.537286,0.861349,-1.017132,0.182487
3,-0.363684,-0.429817,-0.591394,-0.518015,0.102618,-0.207503,-0.067650,-0.350877,-0.217053,-0.237325,0.137110,-0.200494,0.114869,0.229335,0.019229,-0.079404
4,-1.369701,7.860425,-1.168805,1.137734,1.669431,-1.252006,-0.230715,-1.058809,-0.856020,-0.865129,-0.720216,0.387291,0.537509,-1.130873,0.241333,0.279216

In [4]:
pca.explained_variance_ratio_

array([0.27025017, 0.11279106, 0.08159312, 0.06282047, 0.05303879,
       0.0493069 , 0.04281525, 0.0397519 , 0.03050577, 0.03004493,
       0.02633538, 0.02526174, 0.02073513, 0.02063407, 0.01799376,
       0.01664853])

In [5]:
arr = pca.explained_variance_ratio_
sum_ = 0
for i in arr:
    sum_ += i
print(sum_)

0.9005269670701056